model/venv/
preprocessing/node_modules/
.DS_Store
node_modules/
preprocessing/smallerStructuredEnrichedCoins.json
preprocessing/enrichedCoins.json
preprocessing/spaces.json
preprocessing/structuredEnrichedCoins.json
model/classifiedDAOs.json
*.zip
classifiedDAOs.json
model/balancedDataset.json
model/minorityDataset.json
preprocessing/cleanedClassifiedDaos.json
preprocessing/allSantimentDaos.json
preprocessing/allSantimentProjects.json
preprocessing/enrichedSantimentProjects.json
preprocessing/newlyAddedSantimentProjects.json
preprocessing/normalizedAllSantimentProjects.json
preprocessing/*.txt
